/**
 * A sane starting theme.
 * Create your own or modify this one
 */

/* reset */
html, body {
    margin: 0;
    padding: 0;
}
/* end reset */

* {
    box-sizing: border-box;
}
html {
    overflow:hidden;
    font-family: arial;
    color: #444;
    font-size: 12px;
}
main {
    background: #eee;
    width: 200px;
    padding: 10px;
}
fieldset {
    min-width: 0;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #444;
    color: #fff;
}
section + section {
    margin-top: 10px;
}
.hostname {
    text-transform: capitalize;
}
.uptime {
    float:right;
}
.bar {
    background:#fff;
}
.bar-inner {
    background: #444;
    height:10px;
}
.processes {
    word-wrap: break-word;
    padding: 5px;
    border: 1px solid;
    height: 180px; /* :( */
    overflow: hidden;
}
.processes >* + * {
    margin-top: 5px;
}
