/**
 * A sane starting theme.
 * Create your own or modify this one
 */

/* reset */
html {
    margin: 0;
    padding: 0;
}

/* end reset */

html {
    font-family: arial;
    background: #fff;
    color: #444;
    padding: 25px;
}
body {
    background: #eee;
    width: 400px;
    margin: auto;
    padding: 25px;
}
.bar {
    padding: 5px;
    background:#fff;
}
.bar-inner {
    background: #444;
    height:15px;
}
