<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../themes/theme.css">
    </head>
    <script>
        window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js');
        require('../scripts/parse.js');
    </script>

    <!-- This webkit draggable should be in the main js file somehow.
    The user will always want this on -->
    <body style="-webkit-app-region: drag">
    <header><h1>System Information</h1></header>
        <main>
            <div class="flex-row">
                <section>
                    <h2 class="hostname"></h2>
                    <div class="raw-command" data-command="pwd"></div>
                    <div class="datetime">
                        <div class="value" data-format="MMM Do YYYY"></div>
                    </div>
                </section>
            </div>
            <div class="flex-row">

                <section>
                    <h2>UPTIME</h2>
                    <div class="uptime">
                        <span class="value" data-format="hours"></span>:<span class="value" data-format="minutes"></span>:<span class="value" data-format="seconds"></span>
                    </div>
                </section>

                <section>
                    <h2>RAM</h2>
                    <div class="memory">
                        <div class="value" data-format="percent"></div>
                    </div>
                </section>
            </div>

            <div class="flex-row">
                <section>
                    <h2>DISK USAGE</h2>
                    <div class="disk-usage" data-disk="/">
                        <div class="value" data-format="bytes"></div>
                        <div class="value" data-format="kiloBytes"></div>
                        <div class="value" data-format="megaBytes"></div>
                        <div class="value" data-format="gigaBytes"></div>
                        <div class="value" data-format="percent"></div>
                    </div>
                </section>
            </div>

            <div class="flex-row">
                <section class="fotd">
                    <h1>Fact of the day</h1>
                    <p>Banging your head against a wall burns 150 calories an hour.</p>
                </section>
            </div>

            <div class="flex-row">
                <section>
                    <h2>CPU</h2>
                    <div class="cpu">
                        <div class="value" data-format="chart"></div>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>
