<!DOCTYPE html>
    <head>
    <link rel="stylesheet" type="text/css" href="../themes/simple.css">
    </head>
    <script>
        window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.min.js');
        require('../scripts/parse.js');
    </script>

    <!-- This webkit draggable should be in the main js file somehow.
    The user will always want this on -->
    <body style="-webkit-app-region: drag">
        <main>

            <section>
                <span class="hostname">
                    <span class="value"></span>
                </span>
                <span class="uptime">
                    Uptime: <span class="value" data-format="minutes"></span>m
                </span>
            </section>

            <section>
                <div class="cpu">
                    CPU: <div class="value" data-format="chart-bullet"></div>
                </div>
            </section>

            <section>
                <div class="ram">
                    RAM: <div class="value" data-format="chart-bullet"></div>
                </div>
            </section>

            <section>
                <div class="disk" data-disk="/">
                    Space Free on '/': <span class="value" data-format="gigaBytes"></span>
                </div>
            </section>

            <section>
            <p>Volume:
                <span class="raw-command">
                    <span
                        class="value"
                        data-format="chart-bullet"
                        data-command='exec pactl list sinks | grep "Volume: 0" | cut -d " " -f4 | sed -n 2p | cut -c1-2'>
                    </span>
                </span>
            </p>
            </section>

            <section>
            <p>Battery:
                <span class="raw-command">
                    <span
                        class="value"
                        data-format="chart-bullet"
                        data-command="upower -i /org/freedesktop/UPower/devices/battery_BAT0 | grep percentage | awk '{print $2}' | cut -c 1-2">
                    </span>
                </span>
            </p>
            </section>

            <section>
            <p>Brightness:
                <span class="raw-command">
                    <span
                        class="value"
                        data-format="chart-bullet"
                        data-command="xbacklight">
                    </span>
                </span>
            </p>
            </section>

            <section>
                <fieldset class="processes">
                  <legend>Processes</legend>
                  <div class="raw-command">
                      1.<span class="value" data-command="ps aux | sort -rk 3,3 | sed -n 2p | awk '{print $11}'"></span>
                  </div>
                  <div class="raw-command">
                      2.<span class="value" data-command="ps aux | sort -rk 3,3 | sed -n 3p | awk '{print $11}'"></span>
                  </div>
                  <div class="raw-command">
                      3.<span class="value" data-command="ps aux | sort -rk 3,3 | sed -n 4p | awk '{print $11}'"></span>
                  </div>
                  <div class="raw-command">
                      4.<span class="value" data-command="ps aux | sort -rk 3,3 | sed -n 5p | awk '{print $11}'"></span>
                  </div>
                  <div class="raw-command">
                      5.<span class="value" data-command="ps aux | sort -rk 3,3 | sed -n 6p | awk '{print $11}'"></span>
                  </div>
              </fieldset>
            </section>

        </main>
        <footer>
            <div class="datetime">
                <span class="value" data-format="MMM Do YYYY"></span>
            </div>
            <div class="datetime">
                <span class="value" data-format="H:mm:ss"></span>
            </div>
        </footer>
    </body>
</html>
